<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="./estilos.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar" href="/api/admin"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;">Administración</a>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar" href="/api/usuarios/login"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;">Mi
                            Perfil</a>
                    </li>

                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <form method="get" action="/api/productos/seguir-comprando">
                            <button type="submit" class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                                Seguir comprando</button>
                        </form>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <form method="post" action="/api/carrito/confirmar-pedido">
                            <input name="id" value="{{id}}" type="hidden">
                            <input name="username" value="{{username}}" type="hidden">
                            <button type="submit" class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                                Confirmar pedido</button>
                        </form>
                    </li>


                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <button
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                            <a class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140);"
                                href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


    <h1 style="color:rgb(57, 4, 90); margin:20px;" id="titulo-carrito">Mi Carrito</h1>
    <form method="post" action="/api/carrito/delcart">
        <input name="id" value="{{id}}" type="hidden">
        <button type="submit" class="link-navbar"
            style="font-size:1.3rem; color:rgb(200, 152, 207); background-color:rgb(18, 18, 18);">
            Vaciar carrito</button>
    </form>
    <div>
        <h2>{{msgEmptyCart}}</h2>
    </div>
    <table style="margin:20px; background-color:rgb(178, 159, 181); color:rgb(45, 5, 52);" height="400px">
        <tr>
            <th rowspan="3" colspan="15">Imagen</th>
            <th rowspan="3" colspan="15">Producto</th>
            <th rowspan="3" colspan="15">Precio</th>
            <th rowspan="3" colspan="15">Cantidad</th>
            <th rowspan="3" colspan="15"></th>
        </tr>
        <tbody id="carrito">
            
            {{#each productosMap}}
            <tr>
                <td rowspan="1" colspan="10" style="color:rgb(92, 0, 128); text-align:center; padding:5px;">
                    <div style="width: 120px;
                        display:flex;
                        justify-content: center;
                        align-items:center;">
                        <img src="{{this.thumbnail}}" style="max-height: 100%;
                        max-width: 100%;
                        border-radius: 5px 5px 0 0;" />
                    </div>
                </td>
                <td rowspan="1" colspan="10"
                    style="color:rgb(92, 0, 128); font-weight:bold; text-align:left; padding:5px; ">
                    {{this.title}}
                </td>
                <td rowspan="1" colspan="20"
                    style="color:rgb(92, 0, 128); font-weight:bold; text-align:center; padding:5px;">
                    $ {{this.price}}
                </td>
                <td rowspan="1" colspan="20"
                    style="color:rgb(70, 5, 127); font-weight:bold; text-align:center; padding:5px;">
                    {{this.quantity}}
                </td>
                <td rowspan="1" colspan="20" style="font-weight:bold; text-align:center; padding:5px;">
                    <form method="post" action="/api/carrito/productos">
                    
                        <input name="prod" id="prod" value="{{this._id}}" type="hidden">
                        <button type="submit" id=""
                            style="color:white; background-color:rgb(63, 8, 63); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                            Eliminar
                        </button>
                        </form>
                    
                </td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>

</body>

</html>