<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" type="text/css" href="/estilos.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar">
                        <a class="link-navbar" href="/api/productos/admin">Administración</a>
                    </li>
                    <li class="btn-navbar">
                        <a class="link-navbar" href="/api/productos/seguir-comprando">Seguir comprando</a>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140);"
                            href="/api/carrito/{{data.idcarrito}}/productos">Ver Carrito</a>
                    </li>

                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <button
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                            <a class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140);"
                                href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <!-- server mande a esta vista de handlebars el objeto prod y rellenar campos-->

    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    text-align:center;
    padding:1rem;
    margin:1rem 0.5rem; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;">
        <div class="container-img bordes">
            <img src="{{data.prod.thumbnail}}" alt="{{data.prod.title}}" class="img-card" />
        </div>
        <div class="container bordes">
            <h4> {{data.prod.title}}</h4>
            <h4>$ {{data.prod.price}}</h4>
        </div>
        <form method="post" action="/api/carrito/{{data.idcarrito}}/productos">
            <div class="container container-btn bordes">
                <select name="unidades" id="unidades">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="container container-btn bordes">

                <input name="idprod" id="idprod" value="{{data.prod.id}}" type="hidden">
                <input name="thumbnail" id="thumbnailprod" value="{{data.prod.thumbnail}}" type="hidden">
                <input name="title" id="titleprod" value="{{data.prod.title}}" type="hidden">
                <input name="price" id="priceprod" value="{{data.prod.price}}" type="hidden">
                <button type="submit" id=""
                    style="color:white; background-color:rgb(93, 50, 173); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                    Agregar al carrito
                </button>
            </div>
        </form>
    </div>




</body>

</html>