<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Productos</title>

</head>

<body>

  <div
    style="background-color:rgb(219, 249, 208); color:rgb(4, 67, 42); display:flex; flex-direction:row; justify-content:space-around; ">
    <h2 style="color:rgb(44, 91, 29);">Bienvenido {{user.nombre}}</h2>
    <button style="background-color:yellow; border-radius:3px; border-width:0; margin:10px; color:rgb(22, 22, 22);">
      <a href="/api/usuarios/logout">Desloguear</a>
    </button>

  </div>

  <div style="background-color:rgb(226, 225, 225); margin:10px; padding:10px;">
    <form method="post" action="/api/admin"> 
      <h1 style="color:blue; font-weight:bold;">Ingrese producto:</h1>
      <label for="category">Categoría:</label>
      <select name="category" id="category">
        <option value="multicolor">Multicolor</option>
        <option value="blanco">Blanco</option>
        <option value="negro">Negro</option>
        <option value="rosa">Rosa</option>
        <option value="azul">Azul</option>
      </select><br>
      <label for="title">Nombre de producto:</label>
      <input type="text" id="title" name="title"><br>
      <label for="price">Precio:</label>
      <input type="text" id="price" name="price"><br>
      <label for="thumbnail">Imagen (URL):</label>
      <input type="text" id="thumbnail" name="thumbnail"><br>
      <input type="submit">
    </form>


    <h1 style="color:brown;">Lista de Productos:</h1>
    <table style="margin:20px; background-color:rgb(22, 22, 22); color:white;" height="400px">
      <tr>
        <th rowspan="1" colspan="30">Categoría</th>
        <th rowspan="1" colspan="30">Producto</th>
        <th rowspan="1" colspan="30">Precio</th>
        <th rowspan="1" colspan="30">Imagen</th>
      </tr> 
        <tbody id="carrito">
            {{#each productos}}
            <tr>
                              <td rowspan="1" colspan="30"
                    style="color:rgb(70, 5, 127); font-weight:bold; text-align:center; padding:5px;">
                    {{this.category}}
                </td>

                <td rowspan="1" colspan="30"
                    style="color:rgb(92, 0, 128); font-weight:bold; text-align:left; padding:5px; ">
                    {{this.title}}
                </td>
                <td rowspan="1" colspan="30"
                    style="color:rgb(92, 0, 128); font-weight:bold; text-align:center; padding:5px;">
                    $ {{this.price}}
                </td>
                                <td rowspan="1" colspan="30" style="color:rgb(92, 0, 128); text-align:center; padding:5px;">
                    <div style="width: 120px;
                        display:flex;
                        justify-content: center;
                        align-items:center;">
                        <img src="{{this.thumbnail}}" style="max-height: 100%;
                        max-width: 100%;
                        border-radius: 5px 5px 0 0;" />
                    </div>
                </td>


                <td rowspan="1" colspan="20" style="font-weight:bold; text-align:center; padding:5px;">
                    <form method="post" action="/api/admin/update">
                    
                        <input name="prod" id="prod" value="{{this._id}}" type="hidden">
                        <button type="submit" id=""
                            style="color:white; background-color:rgb(63, 8, 63); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                            Modificar
                        </button>
                        </form>                    
                </td>
                    <td rowspan="1" colspan="20" style="font-weight:bold; text-align:center; padding:5px;">

                    <form method="post" action="/api/admin/delete">
                        <input name="idprod" id="idprod" value="{{this._id}}" type="hidden">
                        <button type="submit" id=""
                            style="color:white; background-color:rgb(63, 8, 63); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                            Eliminar
                        </button>
                    </form>
                </td>
   
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>



  
  <script src="../index.js"></script>

</body>

</html>